include AUTHORS
include LICENSE.txt
include README.rst

graft docs
graft vsutillib

prune docs/build

prune vsutillib/vsutillib-files
prune vsutillib/vsutillib-log
prune vsutillib/vsutillib-macos
prune vsutillib/vsutillib-media
prune vsutillib/vsutillib-network
prune vsutillib/vsutillib-process
prune vsutillib/vsutillib-scripts
prune vsutillib/vsutillib-mkv
prune vsutillib/vsutillib-pyqt
prune vsutillib/mkv
prune vsutillib/pyqt

global-exclude __pycache__
global-exclude *.py[co]
